*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url("truck2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    position: fixed;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: orangered;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 23px;
}

nav ul li a:hover{
    color:orangered;
    transition: .4s;
}

.About{
    width: 100%;
    padding: 100px 0px;
    background-color:grey;

}

.About img{
    height: auto;
    width: 430px;
}

.About-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.About-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.About-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.About-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid orangered;
    cursor: pointer;

}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px ;
    
}

.title h2{
    color: orangered;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: grey;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid orangered;
    cursor: pointer;
}

.Contact .content p {
    margin-bottom: 0;
}

.Contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    
}

.Contact .content{
    max-width: 800px;
    text-align: center;
}

.Contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.Contact .content p{
    font-weight: 300;
    color: #fcfc;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fcfc;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: white;

}

.contactForm{
    width: 80%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color:orangered;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
     margin: 10px 0;
     border: none;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

